body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

.hero {
  padding: 60px 0;
}
.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
.hero-title {
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
}
.hero-text {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 1.5;
}
.right-wrap {
  display: none;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;

  padding: 6px 18px;
  border: none;
  line-height: 1.5;
  border-radius: 30px;

  color: #2c2c2c;
  background-color: #bbf330;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.2, 0, 0.4, 1);
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-wrap {
    width: 384px;
  }
  .right-wrap {
    display: block;
    width: 320px;
    height: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 16px;
  }
  .hero {
    padding: 27px 0;
  }
  .left-wrap {
    width: 516px;
  }
  .right-wrap {
    width: 560px;
    height: 560px;
  }
}
